<template id='gene-template'>
<div class='container'>
	<tool-navbar></tool-navbar>
	<div v-if='loading' class='row'><i>Loading...</i></div>
	<div v-else-if='loaded' class='row'>
		<div class="card mb-2 mt-2" style="width:100%">
			<div class="card-header" tt='general_information'></div>
			<div class="card-body">
				<h5 class="card-title" style='text-align:right'>
					<small>
						<span tt='last_modified'></span>
						{{i.raw.modified.replace(/[A-Z]/g,' ')}}
					</small>
				</h5>
				<table class="table table-sm table-borderless">
					<tbody>
						<tr>
							<td tt='systematic_name' nowrap></td>
							<td>
								<i>{{genedb_id}}</i>
								<br/><span v-if='data.aliases.length>0' tt='previously_known_as' :tt1='data.aliases.join(", ")'></span>
							</td>
						</tr>
						<tr>
							<td tt='gene_name'></td>
							<td><b>{{i.getLabel("en")}}</b></td>
						</tr>
						<tr v-if='i.getDesc()!=""'>
							<td tt='description'></td>
							<td>{{i.getDesc()}}</td>
						</tr>
						<tr v-if='i.hasClaims("P703")'><!--FIXME-->
							<td>
								<wd-link item="P703" as_text="1"></wd-link>
							</td>
							<td>
								<div v-for='taxon_q in i.getClaimItemsForProperty("P703",true)'>
									<wd-link :item='taxon_q' as_text='1'></wd-link>
								</div>
							</td>
						</tr>
						<tr v-if='i.hasClaims("P279")'>
							<td tt='gene_type'></td>
							<td>
								<div v-for='type_q in i.getClaimItemsForProperty("P279",true)'>
									<wd-link :item='type_q' as_text='1'></wd-link>
								</div>
							</td>
						</tr>
						<tr>
							<td tt='location'></td>
							<td>
								<router-link :to='"/chromosome/"+(i.getClaimItemsForProperty("1057",true))[0]'>
									<wd-link :item='(i.getClaimItemsForProperty("1057",true))[0]' as_text='1'></wd-link>
								</router-link>
								:
								{{i.getFirstStringForProperty("P644")}}
								&ndash;
								{{i.getFirstStringForProperty("P645")}}
							</td>
						</tr>
						<tr>
							<td tt='product'></td>
							<td>
								<div v-for='protein_q in i.getClaimItemsForProperty("P688",true)'>
									<router-link :to='"/protein/"+protein_q'>
										<wd-link :item='protein_q' as_textg='1'></wd-link>
									</router-link>
								</div>
							</td>
						</tr>
						<tr>
							<td tt='see_also'></td>
							<td><i>Not in Wikidata - yet!</i></td>
						</tr>
						<tr>
							<td tt='plasmodb'></td>
							<td><a target='_blank' class='external' :href='"http://plasmodb.org/gene/"+genedb_id'>{{genedb_id}}</a></td>
						</tr>
						<tr>
							<td tt='genedb'></td>
							<td><a target='_blank' class='external' :href='"http://www.genedb.org/gene/"+genedb_id'>{{genedb_id}}</a></td>
						</tr>
						<tr>
							<td tt='wikidata'></td>
							<td><wd-link :item='q' :label='q'></wd-link></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="card mb-2 mt-2" style="width:100%">
			<div class="card-header" tt='protein'></div>
			<div class="card-body">
				<div v-for='protein_q in i.getClaimItemsForProperty("P688",true)' style='width:100%'>
					<protein-box :q='protein_q'></protein-box>
				</div>
			</div>
		</div>

		<div v-if='loading_main_subject || main_subject.length>0' class="card mb-2" style="width:100%">
			<div class="card-header" tt='main_subject'></div>
			<div v-if='show_all_main_subject' class="card-body">
				<ul class="list-group list-group-flush">
					<li v-for='paper_q in main_subject' class="list-group-item">
						<publication :item='paper_q' num_authors='5'></publication>
					</li>
				</ul>
			</div>
			<div v-else class="card-body">
				<a href='#' @click.prevent='loadLiteratureDetails()' tt='show_x_main_subject_papers' :tt1='main_subject.length'></a>
			</div>
		</div>

	</div>
	<div v-else class='row'>
		<div v-if='possible_items.length>0'>
			{{possible_items}}
		</div>
		<div v-else>
			ERROR: <tt>{{error_message}}</tt>
		</div>
	</div>
</div>
</template>

<script>
'use strict';



let Gene = Vue.extend ( {
	props : [ 'genedb_id' ] ,
	data : function () { return { loading:true , loaded:false , q:'' , i:{} , possible_items:[] , error_message:'' , data:{
		aliases:[] ,
		type:''
	} ,
	go_props : ["P680","P681","P682"] ,
	main_subject : [] , loading_main_subject:false , show_all_main_subject:false
	} } ,
	created : function () {
		let me = this ;
		me.main_subject = [] ;
		Promise.all ( [
			new Promise( me.loadByGeneDB ) ,
//			new Promise( me.loadGeneOntologyEvidenceCodes )
		] )	.then ( () => {
			if ( me.q != '' ) me.loadLiterature() ;
			me.loading = false ;
		} , () => {
			me.loading = false ;
		} ) ;

	} ,
	updated : function () { tt.updateInterface(this.$el) ; } ,
	mounted : function () { tt.updateInterface(this.$el) ; } ,
	methods : {
		loadLiteratureDetails : function () {
			var me = this ;
			me.loading_main_subject = true ;
			wd.getItemBatch ( me.main_subject , function () {
				me.loading_main_subject = false ;
				me.show_all_main_subject = true ;
			} ) ;
		} ,
		loadLiterature : function () {
			var me = this ;
			let sparql = 'SELECT DISTINCT ?q { ?q wdt:P921 wd:'+me.q+' }' ;
			me.show_all_main_subject = false ;
			wd.loadSPARQLitems ( sparql , function ( d ) {
				if ( d.length == 0 ) return ;
				me.main_subject = d ;
				if ( d.length <= 20 ) me.loadLiteratureDetails() ;
			} ) ;
		} ,
		loadByGeneDB : function(resolve, reject) {
			var me = this ;
			let sparql = 'SELECT DISTINCT ?q { VALUES ?v { "'+me.genedb_id+'"  } . ?q wdt:P3382 ?v }' ; // "'+me.genedb_id+'.1"
			wd.loadSPARQLitems ( sparql , function ( d ) {
				if ( d.length == 0 ) {
					me.error_message = "No such gene '" + me.genedb_id + "' on Wikidata" ;
					reject() ;
				} else if ( d.length > 1 ) {
					me.possible_items = d ;
					reject() ;
				} else {
					me.q = d[0] ;
					wd.getItemBatch ( [me.q] , function () {
						me.i = wd.getItem ( me.q ) ;
						if ( typeof me.i == 'undefined' ) {
							me.error_message = "Failed to load '" + me.q + "' from Wikidata API" ;
							reject() ;
						} else {
							me.data.aliases = Object.values ( me.i.getAliasesForLanguage("en") ) ;
							me.loaded = true ;
							resolve() ;
						}
					} ) ;
				}
			} , reject ) ;
		} ,
/*
		loadGeneOntologyEvidenceCodes : function(resolve, reject) { // Global load
			if ( typeof evidence_codes != 'undefined' ) return resolve() ; // Already loaded
			evidence_codes = {} ;
			let sparql = 'SELECT ?q ?desc { ?q wdt:P31 wd:Q23173209 ; skos:altLabel ?desc FILTER ( LANG(?desc)="en" ) }' ;
			wd.loadSPARQL ( sparql , function ( d ) {
				$.each ( d.results.bindings , function ( dummy , b ) {
					let q = 'Q' + wd.itemFromBinding ( b.q ) ;
					let desc = b.desc.value ;
					if ( desc == 'evidence used in automatic assertion' ) return ;
					if ( typeof evidence_codes[q] == 'undefined' ) evidence_codes[q] = desc ;
				} ) ;
				resolve() ;
			} , reject ) ;
		}
*/
	} ,
	template:'#gene-template'
} )
</script>
