<template id='go-term-template'>
<div class='container'>
	<tool-navbar></tool-navbar>
	<div v-if='loading' class='row'><i>Loading...</i></div>
	<div v-else class='row'>
		<div class='lead'>
			Genes with GO term 
			<a :href='"http://amigo.geneontology.org/amigo/term/"+go_term' class='external' target="_blank">{{go_term}}</a>
			 and GeneDB in Wikidata
		</div>
		<div v-for='(by_species,q_go) in results' class="card mb-2 mt-2" style="width:100%">
			<div class="card-header" tt='general_information'>
				<wd-link :item='q_go'></wd-link> <small>[{{q_go}}]</small>
			</div>
			<div v-for='(genes_chromosomes,q_species) in by_species' class="card-body">
				<h5 class="card-title">
					<wd-link :item='q_species'></wd-link>
				</h5>
				<div v-for='(genes,q_chromosome) in genes_chromosomes'>
					<div class='lead'>
						<span tt='chromosome'></span>
						<router-link :to='"/chromosome/"+q_chromosome'>
							<wd-link :item='q_chromosome' as_text='1'></wd-link>
						</router-link>
					</div>
					<gene-list :genes='genes'></gene-list>
				</div>
			</div>
		</div>
	</div>
</div>
</template>


<script>
'use strict';

let GoTerm = Vue.extend ( {
	props : [ 'go_term' ] ,
	data : function () { return { loading:true , results:{} } } ,
	created : function () {
		var me = this ;
		let sparql = 'SELECT DISTINCT ?q ?go ?genedb ?species ?chromosome ?start ?end { VALUES ?props { wdt:P680 wdt:P681 wdt:P682 } . ?q wdt:P3382 ?genedb ; ?props ?go . ?go wdt:P686 "' + me.go_term.toUpperCase() + '" OPTIONAL { ?q wdt:P703 ?species } OPTIONAL { ?q wdt:P1057 ?chromosome } OPTIONAL { ?q wdt:P644 ?start } OPTIONAL { ?q wdt:P645 ?end } } ORDER BY ?genedb' ;
		wd.loadSPARQL ( sparql , function ( d ) {
			let to_load = [] ;
			$.each ( d.results.bindings , function ( dummy , b ) {
				let q_gene = b.q.value.replace(/^.+\/Q/,'Q') ;
				let q_go = b.go.value.replace(/^.+\/Q/,'Q') ;
				let gene_db = b.genedb.value ;
				let q_species = 'unknown' ;
				let q_chromosome = '' ;
				if ( typeof b.species != 'undefined' ) q_species = b.species.value.replace(/^.+\/Q/,'Q') ;
				if ( typeof b.chromosome != 'undefined' ) q_chromosome = b.chromosome.value.replace(/^.+\/Q/,'Q') ;
				if ( typeof me.results[q_go] == 'undefined' ) me.results[q_go] = {} ;
				if ( typeof me.results[q_go][q_species] == 'undefined' ) me.results[q_go][q_species] = {} ;
				if ( typeof me.results[q_go][q_species][q_chromosome] == 'undefined' ) me.results[q_go][q_species][q_chromosome] = [] ;
				let gene = { q:q_gene , genedb:gene_db } ;
				if ( typeof b.start != 'undefined' ) gene.start = b.start.value*1 ;
				if ( typeof b.end != 'undefined' ) gene.end = b.end.value*1 ;
				me.results[q_go][q_species][q_chromosome].push ( gene ) ;
				to_load.push ( q_gene ) ;
				to_load.push ( q_go ) ;
				to_load.push ( q_chromosome ) ;
				if ( q_species != '' ) to_load.push ( q_species ) ;
			} ) ;
			wd.getItemBatch ( to_load , function () {
				$.each ( me.results , function ( q_go , species_chromosomes ) {
					$.each ( species_chromosomes , function ( species , genes_chromosomes ) {
						$.each ( genes_chromosomes , function ( q_chromosome , genes ) {
							genes.sort ( function ( a , b ) { return a.start*1 - b.start*1 } ) ;
							$.each ( genes , function ( dummy , gene ) {
								gene.i = wd.getItem ( gene.q ) ;
							} ) ;
						} ) ;
					} ) ;
				} ) ;
				me.loading = false ;
			} ) ;
		} ) ;

	} ,
	updated : function () { tt.updateInterface(this.$el) ; } ,
	mounted : function () { tt.updateInterface(this.$el) ; } ,
	methods : {
	} ,
	template : '#go-term-template'
} ) ;


</script>
